name: Telegram VK Bot 24/7

on:
  schedule:
    - cron: '*/5 * * * *'  # каждые 5 минут
  workflow_dispatch:       # кнопка "Run workflow"

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 8
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        
    - name: Install dependencies  
      run: |
        pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Run bot
      run: python bot_vkapi.py
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        SMMLABA_EMAIL: ${{ secrets.SMMLABA_EMAIL }}
        SMMLABA_APIKEY: ${{ secrets.SMMLABA_APIKEY }}
